<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>update</title>
</head>
<body>
  <h1>회원정보 수정 페이지</h1>

  <table id="table">
    <tr>
      <th>아이디</th>
      <td><input type="text" id="id"></td>
    </tr>
    <tr>
      <th>비밀번호</th>
      <td><input type="text" id="pw"></td>
    </tr>
    <tr>
      <th>이름</th>
      <td><input type="text" id="name"></td>
    </tr>
    <tr>
      <th>이메일</th>
      <td><input type="text" id="email"></td>
    </tr>
    <tr>
      <td><button id="btnUpdate">회원정보 수정</button></td>
    </tr>
  </table>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/update.js"></script>
</body>
</html>